<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<!-- <class name="Clinion_Execution.reloadcrfDataExtraction">
				<methods>
					<include name="runCRFDataExtraction" />
					<include name="runCRFDataExtraction" />
				</methods>
			</class> -->
			<class name="Clinion_Execution.Clinion_EDCStudyExecutionClass">
			<methods>
			<include name="eCRFDataExtraction()"/>
			</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
