<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="Clinion_Execution.Clinion_EDCStudyExecutionClass">
				<methods>
					<include name="eCRFDataExtraction()" />
				</methods>
			</class>
			<class name="Clinion_Execution.Clinion_CDMStudyExecutionClass">
				<methods>
					<include name="eCRFDataExtractionClinion3Point1()" />
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
